@model IEnumerable<AulasCsharp.Dominio.Aluno>
@{
    ViewBag.Title = "Index";
}

<h2>Pagina Inicial</h2>

<div class="container" style="height: 200px; width: 200px; border: 1px black solid; background-color: aquamarine;">
    <h3> Curso de MVC </h3>
</div>

<ul>

</ul>

